@import "tailwindcss";

@theme {
    --font-family-sans: Inter, sans-serif;

    /* Devlu Brand Colors (Petroleum Blue) */
    --color-indigo-50: #f0f7fa;
    --color-indigo-100: #e0f0f5;
    --color-indigo-200: #bce0eb;
    --color-indigo-300: #8cc5db;
    --color-indigo-400: #54a3c4;
    --color-indigo-500: #3386a8;
    --color-indigo-600: #276788;
    --color-indigo-700: #22536e;
    --color-indigo-800: #20465b;
    --color-indigo-900: #1e3b4d;
    --color-indigo-950: #132835;
}